# Specifies files to intentionally ignore when using Git
# http://git-scm.com/docs/gitignore

/node_modules/
/typings/
/src/assets/data/
/platforms/
/plugins/
/www/*
/builds/*
*.swp
.DS_Store
Thumbs.db
/parsers/bin/
/parsers/include/
/parsers/lib/
/parsers/.Python
/parsers/pip-selfcheck.json
/parsers/*/*/data/
npm-debug.log
.vscode/*
.idea/encodings.xml
.idea/*
*.pyc
/resources/
/res/
/config.xml
/.tmp/

!.keep