# Specifies files to intentionally ignore when using Git
# http://git-scm.com/docs/gitignore

node_modules/
www/build/
platforms/
plugins/
*.swp
.DS_Store
Thumbs.db
www/data/
parsers/bin/
parsers/include/
parsers/lib/
parsers/.Python
parsers/pip-selfcheck.json
parsers/*/*/data/
npm-debug.log
.vscode/*
.idea/encodings.xml
.idea/*
*.pyc
resources/
/config.xml
www/lib/
