.main-menu-page {
  .stats {
    .label {
      padding-right: 15px;
      font-size: 21px;
      color: #fff;
    }

    .value {
      font-size: 26px;
      font-weight: bold;
      color: #8f7d69;
    }
  }
}
