.game-stats {
  progress::-moz-progress-bar { background: blue; }
  progress::-webkit-progress-value { background: blue; }

  progress {
    display: block;
    width: 100%;
    background: blue;
    color: blue;
  }

  .points-bar {
    font-size: 20px;
  }

  .chances-bar {
    font-size: 20px;
    color: map-get($colors, danger);
  }
}
