.game-stats {
  height: 62px;

  $progress-color: map-get($colors, danger);

  progress::-moz-progress-bar { background: $progress-color; }
  progress::-webkit-progress-value { background: $progress-color; }

  progress {
    display: block;
    width: 100%;
    background: $progress-color;
    color: $progress-color;
  }

  .points-bar {
    color: yellow;
    font-size: 20px;
  }

  .chances-bar {
    font-size: 20px;
    color: map-get($colors, danger);
  }

  .no-padding {
    padding: 0;
  }
}
