.game-stats {
  height: 72px;

  $progress-color: color($colors, danger);

  progress::-moz-progress-bar { background: $progress-color; }
  progress::-webkit-progress-value { background: $progress-color; }

  progress {
    display: block;
    width: 100%;
    height: 14px;
    -webkit-appearance: none;
    border: none;
  }

  /* All good till now. Now we'll style the background */
  progress::-webkit-progress-bar {
  	background: black;
  	border-radius: 50px;
  	padding: 2px;
  	box-shadow: 0 1px 0px 0 rgba(255, 255, 255, 0.2);
  }

  /* Now the value part */
  progress::-webkit-progress-value {
  	border-radius: 50px;
  	box-shadow: inset 0 1px 1px 0 rgba(255, 255, 255, 0.4);
  	background:
  		-webkit-linear-gradient(45deg, transparent, transparent 33%, rgba(0, 0, 0, 0.1) 33%, rgba(0, 0, 0, 0.1) 66%, transparent 66%),
  		-webkit-linear-gradient(top, rgba(255, 255, 255, 0.25), rgba(0, 0, 0, 0.2)),
  		-webkit-linear-gradient(left, $progress-color, yellow);

  	/* Looks great, now animating it */
  	background-size: 25px 14px, 100% 100%, 100% 100%;
  }

  .points-bar {
    color: yellow;
    font-size: 20px;

    .icon {
      display: inline-block;
      width: 15px;
      height: 15px;
      background-size: contain;
      background-repeat: no-repeat;
      background-image: url('/images/coin.png');
    }
  }

  .chances-bar {
    font-size: 20px;
    color: color($colors, danger);
  }

  .no-padding {
    padding: 0;
  }
}
