.question-image {
  max-height: 80px;
  max-width: 100px;
  margin-left: 5px;
  margin-right: 5px;
  margin-bottom: 10px;
}

.question-text {
  padding-bottom: 10px;
  color: #171512;
  font-weight: bold;
}

.skip-button {
  margin: 10px 0;
}

.game-alert .alert-head {
  text-align: center;
}