.question-slot {
  position: relative;
  margin: 0 auto;
  width: 60px;
  height: 60px;

  .image {
    width: 60px;
    height: 60px;
    margin: 2px 0 0 2px;

    &:hover {
      
    }
  }

  .background {
    width: 64px;
    height: 64px;
    position: absolute;
    top: 2;
    left: 2;
    z-index: -9;
    background-color: black;
    border: 2px solid gray;
    opacity: 0.70;
  }
}
