<ion-row>
  <ion-col>
    <div class="align-center">
      <img #questionImage [src]="question.getImageSource()" class="question-image" *ngIf="question.image">
      <button secondary outline *ngIf="!question.image">{{ question.name }}</button>
    </div>
  </ion-col>
</ion-row>

<div *ngIf="choices" class="panel-box panel-ribbon">
  <div class="ribbon">
    Skill hero
  </div>

  <ion-row>
    <ion-col>
      <game-slot [choice]="choices[0]" (picked)="onChoice($event)"></game-slot>
    </ion-col>
    <ion-col>
      <game-slot [choice]="choices[1]" (picked)="onChoice($event)"></game-slot>
    </ion-col>
    <ion-col>
      <game-slot [choice]="choices[2]" (picked)="onChoice($event)"></game-slot>
    </ion-col>
  </ion-row>

  <ion-row>
    <ion-col>
      <game-slot [choice]="choices[3]" (picked)="onChoice($event)"></game-slot>
    </ion-col>
    <ion-col>
      <game-slot [choice]="choices[4]" (picked)="onChoice($event)"></game-slot>
    </ion-col>
    <ion-col>
      <game-slot [choice]="choices[5]" (picked)="onChoice($event)"></game-slot>
    </ion-col>
  </ion-row>

  <ion-row>
    <ion-col>
      <game-slot [choice]="choices[6]" (picked)="onChoice($event)"></game-slot>
    </ion-col>
    <ion-col>
      <game-slot [choice]="choices[7]" (picked)="onChoice($event)"></game-slot>
    </ion-col>
    <ion-col>
      <game-slot [choice]="choices[8]" (picked)="onChoice($event)"></game-slot>
    </ion-col>
  </ion-row>
</div>
