<ion-header>
  <ion-navbar>
    <ion-title>{{ 'Settings' | translate }}</ion-title>
  </ion-navbar>
</ion-header>

<ion-content>
  <div class="panel-box">
    <ion-card>
      <ion-card-content>
        <ion-list no-lines>
          <ion-item>
            <ion-label>{{ 'Music' | translate }}</ion-label>
            <ion-checkbox [checked]="isMusic" (ionChange)="changeMusic($event)" item-right></ion-checkbox>
          </ion-item>

          <ion-item>
            <ion-label>{{ 'Sound effects' | translate }}</ion-label>
            <ion-checkbox [checked]="isSound" (ionChange)="changeSound($event)" item-right></ion-checkbox>
          </ion-item>

          <ion-item>
            <ion-label>{{ 'Vibration' | translate }}</ion-label>
            <ion-checkbox [checked]="isVibration" (ionChange)="changeVibration($event)" item-right></ion-checkbox>
          </ion-item>
          
          <ion-list *ngIf="currentLanguage && languages">
            <ion-item>
              <ion-label>{{ 'Language' | translate }}</ion-label>
              <ion-select [(ngModel)]="currentLanguage" (ionChange)="changeLanguage($event)" [cancelText]="'Cancel' | translate">
                <ion-option *ngFor="let language of languages" [value]="language.code">{{ language.name }}</ion-option>
              </ion-select>
            </ion-item>
          </ion-list>
        </ion-list>
      </ion-card-content>
    </ion-card>

    <div class="divider"></div>

    <ion-card>
      <ion-card-content>
        <ion-list no-lines>
          <ion-item>
            <button ion-button icon-left block clear (click)="openAbout()">
              <ion-icon name="contact"></ion-icon>
              {{ 'About application' | translate }} ({{ appVersion }})
            </button>
          </ion-item>
        </ion-list>
      </ion-card-content>
    </ion-card>
  </div>
</ion-content>
