<ion-header>
  <ion-navbar>
    <ion-title>{{ 'Shop' | translate }}</ion-title>
  </ion-navbar>
</ion-header>

<ion-content>
  <div class="panel-box">
    <ion-card>
      <ion-card-content>
        <div class="coins-bar">
          <div class="icon"></div>
          <div class="text">{{ coins }}</div>
        </div>

        <div class="shop-items">
          <ion-row>
            <ion-col *ngFor="let item of items">
              <div class="shop-item">
                <div class="item-image {{ item.id }}"></div>
                <div class="item-name">{{ item.name | translate }}</div>
                <button ion-button color="primary" block outline class="item-price" [disabled]="!itemsAvailability[item.id]" (click)="unlockItem(item)">
                  <div class="icon"></div>
                  <div class="text">{{ item.price }}</div>
                </button>
              </div>
            </ion-col>
          </ion-row>

          <ion-row>
            <ion-col>
              <p>
                {{ 'Watch short video ad to get coins' | translate:{amount: 1000} }}:
              </p>

              <button ion-button outline block color="primary" *ngIf="!isVideoReady" disabled>
                {{ 'Loading video' | translate }} ...
              </button>
              
              <button ion-button outline block color="primary" (click)="getFreeCoins()" *ngIf="isVideoReady">
                {{ 'Get free coins' | translate }}
              </button>
            </ion-col>
          </ion-row>

          <ion-row *ngIf="!isAppRated || !isAppLiked">
            <ion-col>
              <p>
                {{ 'Rate application or like us on Facebook to get coins' | translate }}.
              </p>

              <ion-row>
                <ion-col *ngIf="!isAppRated">
                  <button ion-button icon-left outline block color="primary" (click)="rateApp()">
                    <ion-icon name="appstore"></ion-icon>
                    {{ 'Rate app' | translate }}
                  </button>
                </ion-col>

                <ion-col *ngIf="!isAppLiked">
                  <button ion-button icon-left outline block color="primary" (click)="likeApp()">
                    <ion-icon name="logo-facebook"></ion-icon>
                    {{ 'Like us' | translate }}
                  </button>
                </ion-col>
              </ion-row>
            </ion-col>
          </ion-row>
        </div>
      </ion-card-content>
    </ion-card>

    <div class="divider"></div>

    <ion-card>
      <ion-card-content>
        <p>
          {{ 'Buy premium version of the game to removes all ads and unlock several unlimited features' | translate }}.
        </p>

        <ion-list no-lines>
          <ion-item>
            <ion-icon name="checkmark" item-left></ion-icon>
              <h2>{{ 'Ad-free' | translate }}</h2>
              <p>
                {{ 'remove all ads from the game' | translate }}
              </p>
          </ion-item>

          <ion-item>
            <ion-icon name="checkmark" item-left></ion-icon>
              <h2>{{ 'Skip question' | translate }}</h2>
              <p>
                {{ 'skip up to X questions during every play' | translate:{amount: 3} }}
              </p>
          </ion-item>

          <ion-item>
            <ion-icon name="checkmark" item-left></ion-icon>
              <h2>{{ 'Extra life' | translate }}</h2>
              <p>
                {{ 'start every game with one extra life' | translate }}
              </p>
          </ion-item>
        </ion-list>

        <button ion-button icon-left block color="primary" (click)="makeOrder()">
          <ion-icon name="book"></ion-icon>
          {{ 'Buy premium' | translate }}
        </button>

        <button ion-button icon-left block color="secondary" (click)="restoreOrder()">
          <ion-icon name="book"></ion-icon>
          {{ 'Restore purchase' | translate }}
        </button>
      </ion-card-content>
    </ion-card>
  </div>
</ion-content>
