<ion-row>
  <ion-col>
    <div class="answers-container" *ngIf="question">
      <div class="question-slots question-slots-left">
        <game-slot [choice]="answers[0]" class="non-interactive"></game-slot>
        <game-slot [choice]="answers[1]" class="non-interactive"></game-slot>
        <game-slot [choice]="answers[2]" class="non-interactive"></game-slot>
      </div>

      <img #questionImage [src]="question.getImageSource()" class="question-image">

      <div class="question-slots question-slots-right">
        <game-slot [choice]="answers[3]" class="non-interactive"></game-slot>
        <game-slot [choice]="answers[4]" class="non-interactive"></game-slot>
        <game-slot class="non-interactive"></game-slot>
      </div>
    </div>
  </ion-col>
</ion-row>

<div *ngIf="choices" class="panel-box panel-ribbon">
  <div class="ribbon">
    {{ 'Recipe' | translate }}
  </div>

  <ion-row>
    <ion-col>
      <game-slot [choice]="choices[0]" (picked)="onChoice($event)"></game-slot>
    </ion-col>
    <ion-col>
      <game-slot [choice]="choices[1]" (picked)="onChoice($event)"></game-slot>
    </ion-col>
    <ion-col>
      <game-slot [choice]="choices[2]" (picked)="onChoice($event)"></game-slot>
    </ion-col>
    <ion-col>
      <game-slot [choice]="choices[3]" (picked)="onChoice($event)"></game-slot>
    </ion-col>
  </ion-row>

  <ion-row>
    <ion-col>
      <game-slot [choice]="choices[4]" (picked)="onChoice($event)"></game-slot>
    </ion-col>
    <ion-col>
      <game-slot [choice]="choices[5]" (picked)="onChoice($event)"></game-slot>
    </ion-col>
    <ion-col>
      <game-slot [choice]="choices[6]" (picked)="onChoice($event)"></game-slot>
    </ion-col>
    <ion-col>
      <game-slot [choice]="choices[7]" (picked)="onChoice($event)"></game-slot>
    </ion-col>
  </ion-row>

  <ion-row>
    <ion-col>
      <game-slot [choice]="choices[8]" (picked)="onChoice($event)"></game-slot>
    </ion-col>
    <ion-col>
      <game-slot [choice]="choices[9]" (picked)="onChoice($event)"></game-slot>
    </ion-col>
    <ion-col>
      <game-slot [choice]="choices[10]" (picked)="onChoice($event)"></game-slot>
    </ion-col>
    <ion-col>
      <game-slot [choice]="choices[11]" (picked)="onChoice($event)"></game-slot>
    </ion-col>
  </ion-row>
</div>
