<ion-content style="background-image: url('img/background.jpg')">
  <ion-row>
    <ion-col>
      <h2 class="align-center">Total score</h2>
    </ion-col>
  </ion-row>

  <ion-row>
    <ion-col>
      <h2 class="align-center"> {{ gameplay.points }}</h2>
    </ion-col>
  </ion-row>

  <div style="height: 10px"></div>

  <div class="panel-box">
    <ion-row center *ngIf="score > 0">
      <ion-col>
        <ion-item>
          <ion-input maxlength="16" type="text" placholder="Player name" [(ngModel)]="playerName"></ion-input>
        </ion-item>
      </ion-col>

      <ion-col>
        <span (click)="showCountryList()">
          <img *ngIf="country" src="{{ country.getImageSource() }}" />
          <a *ngIf="!country">Pick your country</a>
        </span>
      </ion-col>
    </ion-row>

    <ion-row *ngIf="score > 0">
      <ion-col *ngIf="!isPending">
        <button *ngIf="!isSubmitted" block primary (click)="submitScore()">Submit</button>
        <button *ngIf="isSubmitted" block primary disabled>Score submitted</button>
      </ion-col>

      <ion-col *ngIf="isPending">
        <button block primary disabled>
          <ion-spinner name="crescent"></ion-spinner>
        </button>
      </ion-col>
    </ion-row>

    <ion-row>
      <ion-col>
        <button block secondary (click)="playAgain()">Play again</button>
      </ion-col>
    </ion-row>

    <ion-row>
      <ion-col>
        <button block dark (click)="openMenu()">Back to menu</button>
      </ion-col>
    </ion-row>
  </div>
</ion-content>
