.premium-unlock-page {
  ion-card {
    box-shadow: none;
    background: transparent;

    ion-card-header {
      color: color($colors, primary);
    }

    ion-card-content {
      color: color($colors, secondary);

      ion-list {
        ion-item {
          color: color($colors, secondary);
          background: transparent;

          ion-icon {
            color: color($colors, primary);
          }

          h2 {
            color: color($colors, secondary);
          }

          p {
            white-space: normal !important;
          }
        }
      }
    }
  }
}
