<ion-header>
  <ion-navbar>
    <ion-title>{{ 'Highscore' | translate }}</ion-title>
  </ion-navbar>
</ion-header>

<ion-content class="highscore-list">
  <div class="panel-box">
    <div *ngIf="isOnline">
      <ion-card *ngIf="!scores">
        <ion-card-content>
          <ion-spinner name="crescent"></ion-spinner>
        </ion-card-content>
      </ion-card>

      <ion-list no-lines *ngIf="scores && scores.length">
        <ion-item *ngFor="let score of scores; let i=index">
          <button ion-button color="dark" item-left class="position-box">
            <span *ngIf="i < 9" class="zero-prefix">0</span>
            <span>{{ i + 1 }}</span>
          </button>

          <ion-avatar item-left>
            <img [src]="getScorePlatformImage(score)" class="platform">
            <img [src]="score.getImageSource()" class="flag">
          </ion-avatar>

          <h2>{{ score.score|points }}</h2>
          <p>{{ score.player|slice:0:16 }}</p>
        </ion-item>
      </ion-list>

      <ion-card *ngIf="scores && !scores.length">
        <ion-card-header>
          {{ 'Good news' | translate }},
        </ion-card-header>

        <ion-card-content>
          {{ 'It seems there are no score for this leaderboard' | translate }}.
          {{ 'Play your first game and be the best one' | translate }}!
        </ion-card-content>
      </ion-card>
    </div>

    <div *ngIf="!isOnline">
      <ion-card>
        <ion-card-header>
          {{ 'Unable to fetch scores' | translate }},
        </ion-card-header>

        <ion-card-content>
          {{ 'It seems that you are not connected to the Internet' | translate }}.
          {{ 'Check your connection and try again to see the best players scores' | translate }}!
        </ion-card-content>
      </ion-card>
    </div>
  </div>
</ion-content>
