<ion-content>
  <ion-list *ngIf="scores && scores.length">
    <ion-item *ngFor="#score of scores">
      <ion-thumbnail item-left>
        <img src="{{ score.getImageSource() }}">
      </ion-thumbnail>

      <h2>{{ score.score }}</h2>
      <p>{{ score.player|slice:0:16 }}</p>
    </ion-item>
  </ion-list>

  <ion-card *ngIf="scores && !scores.length">
    <ion-card-header>
      Good news,
    </ion-card-header>

    <ion-card-content>
      It seems there are no score for this leaderboard.
      Play your <b>first game</b> and be the best one!
    </ion-card-content>

  </ion-card>
</ion-content>
