.game-stats {
  height: 72px;

  $progress-color-primary: color($colors, secondary);

  progress {
    display: block;
    width: 100%;
    height: 4px;
    -webkit-appearance: none;
    border: none;
  }

  progress::-moz-progress-bar { background: $progress-color-primary; }
  progress::-webkit-progress-value { background: $progress-color-primary; }

  /* All good till now. Now we'll style the background */
  progress::-webkit-progress-bar {
  	background: black;
  	padding: 0;
  }

  .points-bar, .time-bar {
    color: color($colors, secondary);
    font-size: 20px;
    padding-left: 5px;

    .icon {
      display: inline-block;
      width: 15px;
      height: 15px;
      margin-right: 5px;
      background-size: contain;
      background-repeat: no-repeat;
    }
  }

  .points-bar {
    .icon {
      background-image: url('../assets/images/coin.png');
    }
  }

  .time-bar {
    .icon {
      background-image: url('../assets/images/time.png');
    }
  }

  .chances-bar {
    padding-right: 5px;
    font-size: 20px;
    color: color($colors, danger);
  }

  .no-padding {
    padding: 0;
  }
}
