page-game {
  .question-image {
    max-height: 80px;
    max-width: 100px;
    margin-left: 5px;
    margin-right: 5px;
    margin-bottom: 15px;
  }

  .skip-button {
    margin: 10px 0;
    height: 2.5rem;

    ion-icon {
      margin-right: 10px;
    }
  }
}
