page-game {
  .question-image {
    max-height: 80px;
    max-width: 100px;
    margin-left: 5px;
    margin-right: 5px;
    margin-bottom: 15px;
  }

  .skip-button {
    margin: 10px 0;
  }
}

.game-alert {
  .alert-button-group {
    display: none;
  }

  .alert-head {
    color: color($colors, secondary);
    text-align: center;

    .icon {
      display: inline-block;
      width: 20px;
      height: 20px;
      margin-right: 5px;
      background-repeat: no-repeat;
      background-size: contain;

      &.coin {
        background-image: url('../assets/images/coin_pro.png');
      }

      &.point {
        background-image: url('../assets/images/coin.png');
      }
    }
  }
}