.highscore-list {
  .flag {
    float: left;
    border-radius: 0 !important;
  }

  .platform {
    float: left;
    border-radius: 0 !important;
    margin-right: 8px;
  }

  p {
    color: color($colors, primary);
  }

  .position-box {
    .zero-prefix {
      visibility: hidden;
    }
  }
}
