.achievement-list-page {
  ion-list {
    ion-item {
      color: #fff;
      background: transparent;
    }
  }

  h2 {
    color: color($colors, primary);
  }

  p, button {
    color: color($colors, secondary);
  }
}
